<div class="row">
  <div class="col-6", style="margin: auto;">
    <div id="carouselExampleControls" class="carousel slide ">
      <div class="carousel-inner">
          <%# Display image.first for first image in carousel %>
          <div class="carousel-item active">
            <%= image_tag @listing.images.first, class: 'd-block w-100' %>
          </div>
        <% @listing.images.each do|image| %>
          <%# Have to redisplay first image on carousel %>
          <div class="carousel-item">
            <%= image_tag image, class: 'd-block w-100' %>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="col-6" style="margin: 40px 0;">
    <h1><%= @listing.title %></h1>
    <h4><strong>Brand</strong>: <%= @listing.brand %></h4> 
    <h4><strong>Price</strong>: $<%= @listing.price %></h4> 
    <h4><strong>Size</strong>: <%= @listing.size %></h4>  
    <h4><strong>Category</strong>: <%= @listing.category.capitalize %></h4> 
    <h4><strong>Seller</strong>: <%= link_to "#{@listing.user.full_name}", user_path(@listing.user.id) %></h4> 
    <h4><strong>Location</strong>: <%= @listing.location.address %></h4> 

    <% if user_signed_in? && @listing.user_id != current_user.id %>
      <button data-stripe='payment', class='btn btn-secondary btn-lg btn-block'>Buy</button>
      <script src="https://js.stripe.com/v3/"></script>

      <script>
        document.querySelector("[data-stripe='payment']").addEventListener('click', () => {
        const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
        stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
        });
      });
      </script>
    <% end %>

    <br>

    <%# geocoding map %>
    <div style="height: 400px" id="map"></div>
    <%= javascript_pack_tag "leaflet/show" %>
  </div>
</div>


