<h1><%= @listing.title %></h1>

<% @listing.images.each do |image| %>
  <%= image_tag image %> <br>
<% end %>

<p>Product: <%= @listing.title %></p>
<p>Brand: <%= @listing.brand %> </p> 
<p>Price: <%= @listing.price %></p> 
<p>Size: <%= @listing.size %></p> 
<p>Category: <%= @listing.category.capitalize %></p>

<% if user_signed_in? && @listing.user_id != current_user.id %>
  <button data-stripe='payment'>Buy</button>
  <script src="https://js.stripe.com/v3/"></script>

  <script>
    document.querySelector("[data-stripe='payment']").addEventListener('click', () => {
    const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
    stripe.redirectToCheckout({
    sessionId: "<%= @session_id %>"
    });
  });
  </script>
<% end %>

<p>Location</p>
<%# geocoding map %>
<div style="height: 600px" id="map"></div>
<%= javascript_pack_tag "leaflet/show" %>
