<div class="header-for-page-div">
  <h1 class="text-center ">Members</h1>
</div>
<div class="row">
  <div class="col-4">
      <%= image_tag image_for(@user), class: 'user-profile-picture'%>
  </div>
  <div class="col-8">
    <h3><strong>Name</strong>: <%= @user.full_name %></h3> <br>
    <h3><strong>Email</strong>: <%= @user.email %></h3> <br>
    <h3><strong>Number</strong>: <%= @user.contact_number %></h3> <br>
    <h3><strong>Active Listings</strong>: <%= @user_listings.length %></h3> <br>
    <h3><strong>Listings Sold</strong>: <%= @sold_listings.length %></h3> <br>
  </div>
</div>

<div class="user-page-div">
  <h2 class="text-center">Active Listings</h2>  
</div>
<div class="overflow-auto" style="height: 40vh;">
  <div class="row">
    <% @user_listings.each do |listing| %>
      <div class="col-6 align-center" style="width: 70%; border: 1px solid black;">
        <%= image_tag listing.images.first, class: "user-page-listings", style: "width:100%;" %>
      </div>
      <div class="col-6" style="border: 1px solid black;">
        <h3><strong>Product</strong>: <%= listing.title %></h3>
        <h3><strong>Price</strong>: <%= number_to_currency(listing.price) %></h3>
        <h3><strong>Size</strong>: <%= listing.size %></h3>
        <h3><strong>Brand</strong>: <%= listing.brand %></h3>
        <%= link_to "Show", listing_path(listing.id), class: "btn btn-dark" %> <br>
      </div>
    <% end %>
  </div>
</div>