<nav class="navbar">
  <div class="left-bar">
    <%= link_to "Home", root_path %>
    <%= link_to "Sneakers", sneakers_path %>
    <%= link_to "Apparels", apparels_path %>
  </div>
  <div class="right-bar">
    <%= link_to "Account", account_path %>
    <%= link_to "Search" %>
    <%= link_to "Cart" %>
  </div>
</nav>