<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for the purchase, <%= @user.full_name %>!</h1>
    <h2>Order details:</h2>
    <p>Product: <%= @order.listings.title %>!</p>
    <p>Price: <%= @order.listings.price %>!</p>
    <p>Size: <%=  @order.listings.size %>!</p>
    <p>Category: <%=  @order.listings.category %>!</p>
  </body>
</html>