<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for the new listing, <%= @user.full_name %>!</h1>
    <p>Thanks for listing: <%= @listing.title %>!</p>
    <p>Product: <%= @listing.title %>!</p>
    <p>Price: <%= number_to_currency(@listing.price) %>!</p>
    <p>Size: <%= @listing.size %>!</p>
    <p>Category: <%= @listing.category %>!</p>
  </body>
</html>