<div class="index-page-div">
  <h1 class="text-center">Apparel<h1>
</div>

<div class="row">
  <div class="col-3">
    <div class="card" style="width: 15rem;">
      <%# Search bar/form %>
      <%= form_with(scope: :search, url: apparels_path, method: 'get', local: true) do |search| %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h6>Product: <%= search.text_field :title, placeholder: "Search by product or brand" %></h6>
          </li>
          <li class="list-group-item">
            <h6>Size: <%= search.collection_select :size, ApparelSize.all, :size, :size, :include_blank => "Select" %></h6>
            <h6><%= search.submit 'Search', class: 'btn btn-dark' %></h6>
          </li>
        </ul>
    </div>
      <% end %>
  </div>
  
  <div class="col-9">
    <div class="row d-flex flex-row-reverse">
      <%# Product sorting form %>
      <%= form_with(url: apparels_path, method: 'get', local:true) do |sort| %>
        <%= sort.select :order, ["Price: Low to High", "Price: High to Low", "Product: A to Z", "Product: Z to A"], { :include_blank => "Sort" } %>
        <%= sort.submit "Sort", class: 'btn btn-dark' %>
      <% end %>
    </div>

    <%# Product card %>
    <div class="row d-flex flex-row" style="margin: 20px;">
      <% @apparel.each do |a| %>
        <div class="card bg-dark mb-3 text-center" style="width: 20rem; margin: 30px;">
          <%= image_tag a.images.first, class: 'card-img-top',height: '300px', width: '300px' %>
          <div class="card-header">
            <h5 class="card-title text-white" style="height: 3rem;"><%= a.title%></h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="height: 3rem;"><h6>Price: <%= a.price %></h6></li>
            <li class="list-group-item" style="height: 3rem;"><h6>Size: <%= a.size %></h6></li>
            <li class="list-group-item" style="height: 4rem;"><h6><%= link_to "See More", listing_path(a.id), class: 'btn btn-dark' %></h6></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>