<h1>Account</h1>

Hi <%= current_user.first_name %>!

<%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %>
<%= link_to "Edit Account", edit_user_registration_path %>
<%= link_to "Sell", new_listing_path %>


<p>Transaction History</p>
<p>Listings</p>
<% @listings.each do |l|%>
  <% if l.images.attached? %>
    <% l.images.each do |image| %>
      <%= image_tag image %>
    <% end %>
  <% end %>
  <%= l.title %> <br>
  <%= l.price %> <br>
  <%= l.sold %> <br>
  <%= l.size %> <br>
  <%= l.category %> <br>
  <%= link_to "Edit", edit_listing_path(l) %>
  <%= link_to "Delete", listing_path(l.id), method: 'delete' %> <br>
<% end %>
<p>Active bid</p>