<h1>Account</h1>

Hi <%= current_user.first_name %>! <br>

<%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %> <br>
<%= link_to "Edit Account", edit_user_registration_path %> <br>
<%= link_to "Sell", new_listing_path %> <br>


<p>Transaction History</p>
 <% @orders.each do |o| %> 
   <%= image_tag o.listing.images.first if o.listing.images.attached? %> 
   <p>Product: <%= o.listing.title %></p>
   <p>Brand: <%= o.listing.brand %> </p> 
   <p>Price: <%= o.listing.price %></p> 
   <p>Size: <%= o.listing.size %></p> 
   <p>Category: <%= o.listing.category.capitalize %></p> 
 <% end %> 

<p>Listings</p>
<% @listings.each do |l|%>
  <%= image_tag l.images.first if l.images.attached? %> 
  <p>Product: <%= l.title %></p>
  <p>Brand: <%= l.brand %> </p> 
  <p>Price: <%= l.price %></p> 
  <p>Size: <%= l.size %></p> 
  <p>Category: <%= l.category.capitalize %></p> 
  <%= link_to "Edit", edit_listing_path(l) %>
  <%= link_to "Delete", listing_path(l.id), method: 'delete' %> <br>
<% end %> 

<p>Active bid</p>