<h1>Sneakers<h1>

<%# Search bar/form %>
<%= form_with(scope: :search, url: sneakers_path, method: 'get', local: true) do |search| %>
  <%= search.label "Product" %>
  <%= search.text_field :title, placeholder: "Search by product or brand" %>

  <%= search.label :size %>
  <%= search.collection_select :size, ShoeSize.all, :size, :size, { :include_blank => "Select" } %>
  
  <%= search.submit 'Search' %>
<% end %>

<%= form_with(url: sneakers_path, method: 'get', local:true) do |sort| %>
  <%= sort.select :order, ["Price: Low to High", "Price: High to Low", "Product: A to Z", "Product: Z to A"], { :include_blank => "Sort" } %>
  <%= sort.submit "Sort" %>
<% end %>

<ul>
  <% @sneaker.each do |s| %>
    <% s.images.each do |image| %>
        <%= image_tag image %> <br>
    <% end %>
    <li>Product: <%= s.title %></li>
    <li>Price: <%= s.price %></li>
    <li>Seller: <%= link_to "#{s.user.full_name}", user_path(s.user.id) %> </li>
    <%= link_to "See More", listing_path(s.id) %> <br>
  <% end %>
</ul>